*{
    margin: 0;
    padding: 0;
}

.row{
    width: 100%;
    height: 480px;
    background:linear-gradient(to bottom,rgb(75, 46, 243), rgb(12, 89, 244), rgb(82, 33, 243));;
}
.heading{
    margin-left: 44%;
    padding-top: 10px;
    color:rgb(248, 228, 115);
    font-size: 35px;
}
.col1{
    width:300px;
    height: 390px;
    background:linear-gradient(to bottom,rgb(251, 209, 113), rgb(247, 247, 128), rgb(245, 201, 119));
    margin-left: 4%;
    margin-top: 1%;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.col2{
    width:300px;
    height: 390px;
    background:linear-gradient(to bottom,rgb(251, 209, 113), rgb(247, 247, 128), rgb(245, 201, 119));
    margin-left: 5%;
    margin-top: 1%;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.col3{
    width:300px;
    height: 390px;
    background:linear-gradient(to bottom,rgb(251, 209, 113), rgb(247, 247, 128), rgb(245, 201, 119));
    margin-left: 5%;
    margin-top:1%;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.img{
    margin-left: 30%;
    margin-top: 10px;
    display: flex;
    width:120px; 
    height:120px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0, 0.6);
}
.h2{
    margin-left: 30%;
    padding-top: 10px;
    color: rgb(7, 7, 107);
}
.h3{
    margin-left: 25%;
    padding-top:10px;
    color: rgb(7, 7, 107);
}
p{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    color: rgb(6, 6, 81);
    font-family: 'Times New Roman', Times, serif; 
}
.btn{
    padding: 10px;
    margin-left:35%;
    margin-top: 3%;
    background: rgb(61, 44, 247);
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    color: white;
    border: none;
    border-radius:20px;
    cursor: pointer;
}